@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/**============================================
 *               Utilidades
 *=============================================**/
.container{
    max-width: 100%;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding: 2rem;
}
/**============================================
 *               Header
 *=============================================**/
.container-hero{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.hero{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-logo{
    flex: 1; /* Empuja el logo a la izquierda */
}

/*================== Barra de opciones =================*/

.container-navbar{
    display: flex;
    justify-content: flex-end;
    flex: 1; /* Empuja el menú hacia el centro */
}

.navbar .menu{
    display: flex;
    margin-top: 2.5rem;
    gap: 20px; /* Espacio entre los elementos del menú */
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #002563; /* Cambia el color según necesites */
}

.menu a:hover{
    color: #e12424;
}

.menu li img{
    width: 24px; /* Ajusta el tamaño deseado */
    height: 24px; /* Ajusta el tamaño deseado */
    margin-top: -4px;
}
/**============================================
 *               Banner
 *=============================================**/
.banner{
    background-image: linear-gradient(100deg, #00256390, #00256340), url(images/puerto_valparaiso.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 100rem;
    margin: 0 auto;
    padding: 18rem 0;
}

.content-banner h1{
    color: white;
    font-size: 3rem;
}

.content-banner p{
    color: #f5f5f5;
    width: 700px;
    font-size: 1.5rem;
}
/**============================================
 *               Contenido
 *=============================================**/
.main-content{
    background-color: #efefef;
    padding: 0 3rem;
    padding-bottom: 2rem;
}

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
/**============================================
 *               Principales servicios
 *=============================================**/
.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-importacion{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-containers.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-curso{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-capacitacion.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-certificacion{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-certificacion.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.card-category h2{
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    position: relative;
}

.card-category h2::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.card-category span:hover{
    color: #e12424;
}
/**============================================
 *               All services
 *=============================================**/
.servicios-ofrecido{
    display: flex;
    flex-direction: column;
}

/*------------------ Servicios -----------------*/

.container-servicios {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.container-servicios::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores webkit */
}

.scrolling{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

/*------------------ Botones de desplazamiento -----------------*/

.scrolling span{
    cursor: pointer;
    margin: auto;
    margin-bottom: 2rem;
}

.card-servicio {
    flex: 0 0 20rem; /* Mantiene las tarjetas de tamaño consistente */
    scroll-snap-align: start;
}

.card-servicio {
    position: relative; /* Necesario para que el ::after se posicione correctamente */
    background-color: white;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que el ::after se salga de los bordes */
}

.card-servicio::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e1242440;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: inherit;
}

.card-servicio:hover::after {
    opacity: 1;
}

.container-img {
    width: 100%;
    height: 12rem; /* Ajusta según el tamaño deseado */
    overflow: hidden;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que ocupe todo el espacio sin deformarse */
}

.content-card-service{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
}

.content-card-service h3{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
}
 /**============================================
  *               Footer
  *=============================================**/
.footer{
    background-color: #fe8344;
    font-size: 18px;
    text-align: center;
    padding: 2rem;
}
.footer p{
    color: white;
}
/**============================================
 *               Barra móvil
 *=============================================**/
.barra{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: #fe8344;
    transition: all 0.5s ease;
    position: static;
    gap: 1rem;
    bottom: 0;
    z-index: 1000; /* Para que quede por encima del contenido */
}

.barra li{
    list-style: none;
}

.barra p{
    margin-top: 0.5rem;
    color: white;
}

.barra img{
    width: 30px;
}

.container-redes{
    display: flex;
    gap: 0.5rem;
}

.cotizar-bottom{
    position: relative; /* Necesario para que el ::after se posicione correctamente */
    background-color: #007cdc;
    padding: 0.5rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que el ::after se salga de los bordes */
    margin-left: 5rem;
}

.cotizar-bottom span{
    color: white;
}

.subir-button{
    margin-left: 5rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.barra.active{
    position: sticky; /* Fija la barra al tope de la pantalla */
    transform: translateY(0); /* La muestra al hacer scroll */
}











