@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/**============================================
 *               Utilidades
 *=============================================**/
.container{
    max-width: 100%;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding: 2rem;
}
/**============================================
 *               Header
 *=============================================**/
.container-hero{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.hero{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-logo{
    flex: 1; /* Empuja el logo a la izquierda */
}

/*================== Barra de opciones =================*/

.container-navbar{
    display: flex;
    justify-content: flex-end;
    flex: 1; /* Empuja el menú hacia el centro */
}

.navbar .menu{
    display: flex;
    margin-top: 2.5rem;
    gap: 20px; /* Espacio entre los elementos del menú */
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #002563; /* Cambia el color según necesites */
}

.menu a:hover{
    color: #e12424;
}

.menu li img{
    width: 24px; /* Ajusta el tamaño deseado */
    height: 24px; /* Ajusta el tamaño deseado */
    margin-top: -4px;
}
/**============================================
 *               Formulario
 *=============================================**/
.form-order{
    padding-left: 22%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-content{
    background: linear-gradient(
        50deg,
        rgb(225, 35, 35) 50%,
        #e12424),
        url(puerto_valparaiso.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
}

.form-content h2{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;

}

.form-content form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-content label{
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}
/**============================================
  *               Footer
  *=============================================**/
.footer{
    background-color: #fe8344;
    font-size: 18px;
    text-align: center;
    padding: 2rem;
}
.footer p{
    color: white;
}
/**============================================
 *               Barra móvil
 *=============================================**/
.barra{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: #fe8344;
    transition: all 0.5s ease;
    position: static;
    gap: 1rem;
    bottom: 0;
    z-index: 1000; /* Para que quede por encima del contenido */
}

.barra li{
    list-style: none;
}

.barra p{
    margin-top: 0.5rem;
    color: white;
}

.barra img{
    width: 30px;
}

.container-redes{
    display: flex;
    gap: 0.5rem;
}

.cotizar-bottom{
    position: relative; /* Necesario para que el ::after se posicione correctamente */
    background-color: #007cdc;
    padding: 0.5rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que el ::after se salga de los bordes */
    margin-left: 5rem;
     user-select: none; /* Bloquea la selección */
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; /* Compatibilidad con Firefox */
}

.cotizar-bottom span{
    color: white;
}

.subir-button{
    margin-left: 5rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.barra.active{
    position: sticky; /* Fija la barra al tope de la pantalla */
    transform: translateY(0); /* La muestra al hacer scroll */
}
