@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/**============================================
 *               Utilidades
 *=============================================**/
.container{
    max-width: 100%;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding: 2rem;
}
/**============================================
 *               Header
 *=============================================**/
.container-hero{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.hero{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-logo{
    flex: 1; /* Empuja el logo a la izquierda */
}

/*================== Barra de opciones =================*/

.container-navbar{
    display: flex;
    justify-content: flex-end;
    flex: 1; /* Empuja el menú hacia el centro */
}

.navbar .menu{
    display: flex;
    margin-top: 2.5rem;
    gap: 20px; /* Espacio entre los elementos del menú */
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #002563; /* Cambia el color según necesites */
}

.menu a:hover{
    color: #e12424;
}

.menu li img{
    width: 24px; /* Ajusta el tamaño deseado */
    height: 24px; /* Ajusta el tamaño deseado */
    margin-top: -4px;
}
/**============================================
 *               Banner
 *=============================================**/
.banner{
    background-image: linear-gradient(100deg, #00256390, #00256340), url(images/puerto_valparaiso.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 100rem;
    margin: 0 auto;
    padding: 18rem 0;
}

.content-banner h1{
    color: white;
    font-size: 3rem;
}

.content-banner p{
    color: #f5f5f5;
    width: 700px;
    font-size: 1.5rem;
}
/**============================================
 *               Contenido
 *=============================================**/
.main-content{
    background-color: #efefef;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
/**============================================
 *               Servicios
 *=============================================**/
.container-categories{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: -2rem;
}

.container-categories::-webkit-scrollbar{
    display: none;
}

.card-category{
    flex: 0 0 100%;/* distribuye las cartas en una fila */

    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

/**============================================
 *               Formulario
 *=============================================**/
.form{
    
    background: linear-gradient(
        50deg,
        #e12323,
        #e1242420),
        url(images/puerto_valparaiso.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 1000px;
    border-radius: 25px;
    
}

.form form {
    flex: 1; /* Cada columna ocupa el mismo ancho */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado entre elementos dentro de una columna */
    width: 50%;
}	

.form label {
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}
.form-content h2{
    color: white;
    font-size: 40px;
    margin-bottom: 25px;
}

.hidden {
    display: none;
}

input , textarea{
    background-color: #ffffffb3;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
    padding: 17px 14px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

select {	
    width: 100%;
    padding: 10px; /* Espaciado interno */
    border: 2px solid #007cdc; /* Borde con color */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    background-color: #f9f9f9; /* Color de fondo */
    appearance: none; /* Elimina el estilo nativo del navegador */
    cursor: pointer;

}

/* Agrega una flecha personalizada usando background */
select {
    background: #ffffff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23007cdc"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 20px;
}

/* Opciones del select */
option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}


/*================== Tarjetas de servicios =================*/

.category-importacion{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-containers.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-curso{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-capacitacion.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-certificacion{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-certificacion.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-legales{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-tribunal.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-contables{
    background-image: linear-gradient(#00000080, #00000080), url(images/back-contabilidad.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.card-category h2{
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    position: relative;
}

.card-category h2::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category a{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    user-select: none; /* Bloquea la selección */
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; /* Compatibilidad con Firefox */
}

.card-category a:hover{
    color: #e12424;
}

/*================== Botones de scrolling =================*/

.scrolling{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.scrolling span{
    font-size: 1.6rem;
    color: #e12424;
    cursor: pointer;
     user-select: none; /* Bloquea la selección */
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; /* Compatibilidad con Firefox */
}

/**============================================
  *               Footer
  *=============================================**/
.footer{
    background-color: #fe8344;
    font-size: 18px;
    text-align: center;
    padding: 2rem;
}
.footer p{
    color: white;
}
/**============================================
 *               Barra móvil
 *=============================================**/
.barra{
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: #fe8344;
    transition: all 0.5s ease;
    position: static;
    gap: 1rem;
    bottom: 0;
    z-index: 1000; /* Para que quede por encima del contenido */
}

.barra li{
    list-style: none;
}

.barra p{
    margin-top: 0.5rem;
    color: white;
}

.barra img{
    width: 30px;
}

.container-redes{
    display: flex;
    gap: 0.5rem;
}

.cotizar-bottom{
    position: relative; /* Necesario para que el ::after se posicione correctamente */
    background-color: #007cdc;
    padding: 0.5rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Evita que el ::after se salga de los bordes */
    margin-left: 5rem;
     user-select: none; /* Bloquea la selección */
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; /* Compatibilidad con Firefox */
}

.cotizar-bottom a{
    color: white;
}

.subir-button{
    margin-left: 5rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.barra.active{
    position: sticky; /* Fija la barra al tope de la pantalla */
    transform: translateY(0); /* La muestra al hacer scroll */
}

/**============================================
 *               servicios html
 *=============================================**/

main.description-services {
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 4%;
    max-width: 96%;
}

.service-section {
    background-color: #f8f8f8; /* Fondo claro */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: left;
    height: auto;
}

.service-section h2 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 26px;
    margin-bottom: 6px;
}

.service-section p {
    width: 1000px;
    font-size: 16px;
    color: #ffffff;
}

.cursos li {
    margin-left: 30px;
    width: 1000px;
    font-size: 16px;
    color: #ffffff;
}

#importacion {
    background-image: linear-gradient(#00000080, #00000080), url(images/back-containers.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#capacitacion {
    background-image: linear-gradient(#00000080, #00000080), url(images/back-capacitacion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#certificacion {
    background-image: linear-gradient(#00000080, #00000080), url(images/back-certificacion.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#temas-legales {
    background-image: linear-gradient(#00000080, #00000080), url(images/back-tribunal.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#temas-contables {
    background-image: linear-gradient(#00000080, #00000080), url(images/back-contabilidad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}










